body {
  background-color: lavender;
}

h1 {
  font-size: 2em;
  color: white;
  background-color: black;
  text-align: center;
}

section > header h2 {
  font-size: 2em;
  margin: 0;
  padding: 0;
}

article h3 {
  font-size: 1.5em;
  font-family: "Trebuchet MS", Arial, sans-serif;
}

h4 {
  display: none;
}

body > header, body > footer {
  font-size: 3em;
  letter-spacing: 1em;
  text-align: center;
  border: 5px groove black;
}

article div {
  background-color: gray;
  width: 46%;
  display: inline-block;
  vertical-align: top;
}

article, article div {
  margin: 1em;
  padding: 1em;
}

nav ol {
  text-align: center;
  background-color: gray;
  padding: 4px;
}

nav li {
  display: inline;
}

nav a {
  color: white;
  background-color: gray;
  font-size: 2em;
  font-family: "Trebuchet MS", Arial, sans-serif;
  text-decoration: none;
  padding: 4px 10px;
}

nav a:hover {
  background-color: black;
}


.pokemon-images {
  text-align: center;
  margin: 2em 0;
}

.pokemon-images img {
  width: 300px;
  height: auto;
  margin: 0 1em;
  display: inline-block;
  vertical-align: top;
  border: 3px solid black;
  padding: 10px;
  background-color: white;
}

table.etudiants {
  width: 80%;
  margin: 2em auto;
  border-collapse: collapse;
  font-size: 1.2em;
}

table.etudiants thead th {
  background-color: #333;
  color: white;
  padding: 12px;
  text-align: left;
  font-weight: bold;
}

table.etudiants td {
  padding: 10px 12px;
  border: 1px solid #ddd;
}

table.etudiants tbody tr:nth-child(even) {
  background-color: #f0f0f0;
}

table.etudiants tbody tr:nth-child(odd) {
  background-color: white;
}

table.etudiants tbody tr:hover {
  background-color: lightgreen;
  cursor: pointer;
}

form {
  max-width: 600px;
  margin: 2em auto;
  padding: 2em;
  background-color: white;
  border: 2px solid #333;
  border-radius: 8px;
}

.form-group {
  margin-bottom: 1.5em;
  display: flex;
  flex-direction: column;
}

.form-group.checkbox {
  flex-direction: row;
  align-items: center;
}

.form-group label {
  font-weight: bold;
  margin-bottom: 0.5em;
  color: #333;
}

.form-group.checkbox label {
  margin-bottom: 0;
  margin-left: 0.5em;
  font-weight: normal;
}

.form-group input[type="text"],
.form-group input[type="email"],
.form-group input[type="date"],
.form-group input[type="number"],
.form-group textarea {
  padding: 0.8em;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1em;
  font-family: Arial, sans-serif;
}

.form-group input[type="text"]:focus,
.form-group input[type="email"]:focus,
.form-group input[type="date"]:focus,
.form-group input[type="number"]:focus,
.form-group textarea:focus {
  outline: none;
  border-color: #333;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.form-group input[type="checkbox"] {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.form-group textarea {
  resize: vertical;
  min-height: 100px;
}

.form-group button {
  padding: 0.8em 2em;
  font-size: 1em;
  font-weight: bold;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 1em;
}

button[type="submit"] {
  background-color: #333;
  color: white;
}

button[type="submit"]:hover {
  background-color: black;
}

button[type="reset"] {
  background-color: #ccc;
  color: #333;
}

button[type="reset"]:hover {
  background-color: #999;
}
